<link rel="stylesheet" href="/css/favourites.css">
<body id="favourites">
<favourites>
<button><a href="/main">return</a></button>
<h1>Favorites: </h1>
{{#each favorites.favourites as |fav|}}
<p>{{fav.description}}</p>
<button class="fav-list" data-id="{{fav.id}}">Delete</button>
{{/each}}


<script src="/js/favourites.js"></script>
</favourites>
</body>