<link rel="stylesheet" href="/css/favourites.css">

<h1>Favourites:</h1>
{{#each favorites.favourites as |fav|}}
<p>{{fav.description}}
<button class="fav-list" data-id="{{fav.id}}">delete me</button>
{{/each}}


<script src="/js/favourites.js"></script>