<section class="homepage">

    <div class="Button">
        <a class="btn btn-primary" href="/login" role="button">Login</a>
    </div>

    <div class="landing-container">
        <div class="landing">
            <h1 class="landing-text">Icebreak My Date</h1>
        </div>
    </div>

    <div class="descr-container">
        <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Struggling to start a conversation on your first date?</h5>
                <h5 class="card-title">We've got you</h5>
                <h5 class="card-title">Use our random generator to spark a conversation with your partner</h5>
            </div>
        </div>
    </div>
</section>