<section class="homepage">

    <div class="Button">
        <a class="btn btn-primary" href="/login" role="button">Login</a>
    </div>

    <div class="landing-container">
        <div class="landing">
            <h1>Icebreak My Date</h1>
        </div>
    </div>

    <div class="descr-container">
        <div class="descr">
            <h1>Test</h1>
        </div>
    </div>
</section>