<div class="row">
  <div class="col-md-6">
    <h2>Welcome to Icebreak my Date! What would you like to do?</h2>

        <button class="btn btn-primary" id = "btn-hobby" type="submit">Suggest a hobby</button>
        <button class="btn btn-primary" id = "btn-bucket" type="button">Bucket List idea</button>
        <button class="btn btn-primary" id = "btn-event" type="submit">Did you know? Historical event</button>
       
    
  </div>
</div>

<script src="/js/mainpage.js"></script>