<link rel="stylesheet" href="/css/mainpage.css">
<body id="mainpage">
<div class="row">
  <div class="col-md-6">
    <h2 id="heading-two">Welcome to Icebreak my Date! What would you like to do?</h2>
        <button class="btn btn-primary" id = "btn-hobby" type="button">Suggest a hobby</button>
        <button class="btn btn-primary" id = "btn-bucket" type="button">Bucket List idea</button>
        <button class="btn btn-primary" id = "btn-fact" type="button">Did you know?...</button>

  </div>
</div>

<p id="apiResults"></p>
<a href="" id="hobbyLink"></a>

<div id="btnContainer">
<button class="btn btn-primary" id = "btn-fav" type="button">Save</button>
</div>

<script src="/js/mainpage.js"></script>
</body> 