<div class="row">
  <div class="col-md-6">
    <h2>Welcome to Icebreak my Date! What would you like to do?</h2>

        <button class="btn btn-primary" id = "btn-hobby" type="button">Suggest a hobby</button>
        <button class="btn btn-primary" id = "btn-bucket" type="button">Bucket List idea</button>
        <button class="btn btn-primary" id = "btn-fact" type="button">Did you know?...</button>
       
    
  </div>
</div>

<p id="apiResults"></p>

<script src="/js/mainpage.js"></script>