* {
    font-size: 20px;
}

main {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.85;
    background-image: url('../christian-lue-zNhq5JyPv9E-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

#logout {
    display: inline;
    border-style:none;
    padding: 10px;
    margin: 5px;
    width: 10vw;
    font-size:x-large;
    background-color: rgb(182, 182, 182);
    opacity: 0.7;
    border-radius: 5px;
}

/* #favourite-btn {
    display: none;

} */

#main .box {
    display:block;
    position: relative;
    padding: 1vw;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 20vw;
    opacity: 0.9;
    text-align:center;
    width: 60vw;
}

/* .btnGroup {
    display: block;
} */

.Container {
    position: fixed;
}

.fav-list {
    border-style:none;
    padding: 10px;
    margin: 5px;
    width: 5vw;
    font-size: large;
    background-color: rgb(250, 5, 5);
    opacity: 0.7;
    border-radius: 5px;
}

#logout {
    display: inline;
    border-style:none;
    padding: 10px;
    margin: 5px;
    width: 4.5vw;
    height: 3vw;
    background-color: rgb(182, 182, 182);
    opacity: 0.7;
    border-radius: 5px;
}

#favourite-btn {
    display: inline;
    border-style:none;
    padding: 10px;
    margin: 5px;
    width: 4.5vw;
    height: 3vw;
    background-color: rgb(182, 182, 182);
    opacity: 0.7;
    border-radius: 5px;
}

#home-btn {
    display: inline;
    border-style:none;
    padding: 10px;
    margin: 5px;
    width: 4.5vw;
    height: 3vw;
    background-color: rgb(182, 182, 182);
    opacity: 0.7;
    border-radius: 5px;
}


