*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

main {
    background-image: url("../romantic-couple-cafe-is-drinking-coffee-talking-handsome-man-beautiful-girl-enjoying-being-together.jpg");
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.handleBars-conatiner {
    height: 100%;
}

.homepage {
    height: 100%;
}

.Button {
    display: block;
    padding: 1rem;
}

.landing {
    margin-top: 5%;
    height: 30%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .descr {
    margin: 10%;
    background-color: red;
    width: 15%;
} */