* {
    font-family: 'Amatic SC', cursive;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

main {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
}

#main .box {
    display: none;
}

main {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.85;
    background-image: url('../romantic-couple-cafe-is-drinking-coffee-talking-handsome-man-beautiful-girl-enjoying-being-together.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    
}

.header {
background-color: rgb(182, 182, 182);
font-size: 75px;
color:black;
text-align: center;
opacity: 0.7;
}

section {
    height: 100vh;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginValidator::after {
    content: "❗ Incorrect name or password, please try again";
    color: red;
}

.signupValidator::after {
    content: "❗ Password must have a minimum of 8";
    color: red;
}

.signupValidatorNoDetails::after {
    content: "❗ Username and password must be filled";
    color: red;
}

.loginValidatorNoDetails::after {
    content: "❗ Username and password must be filled in";
    color: red;
}

.box {
    padding: 2rem;
    margin: 2rem;
    background-color:rgb(182, 182, 182);
    opacity: 0.7;
    border-radius: 30px;
    width: 30vw;
}

.FORMS {
    padding: 3rem;
}

.button {
    display: block;
}

#login-btn {
    display: block;
    position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-150%);
  border-style:none;
    padding: 10px;
    margin: 5px;
    width: 10vw;
    font-size:x-large;
    background-color: rgb(182, 182, 182);
    opacity: 0.7;
    border-radius: 5px;
}

.saveValidate::after {
    content: "✔️ Saved to favorites";
    color: green;
}

.saveValidateError::after {
    content: "⚠️ Cannot save the same Icebreak twice";
    color: orange;
}